$background-primary: #fff;
$background-secondary: #fafafa;

$color-text-primary: #262626;
$color-text-secondary: #8e8e8e;
$color-error-message: #ed4956;
$color-link-primary: #0095f6;
$color-link-secondary: #00376b;

$border-primary: #dbdbdb;
$border-secondary: #262626;

$input-placeholder-color: #2626266b;

$button-background-primary: #0095f6;
$button-background-primary-disable: rgba(0, 149, 246, 0.3);
$button-color-primary: #fff;
